nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 25px;
}

h1 {
  font-family: 'Racing Sans One', cursive;
}

nav {

  font-family: 'Yantramanav', sans-serif;
}

h3 {
  font-size: 2em;
  font-family: 'Hammersmith One', sans-serif;
}

p {
  font-family: 'Yantramanav', sans-serif;
}
